interactions:
- request:
    body: null
    headers:
      Authorization: [!!python/unicode 'OAuth oauth_nonce="35478621418239125051522846526",
          oauth_timestamp="1522846526", oauth_version="1.0", oauth_signature_method="HMAC-SHA1",
          oauth_consumer_key="HUmO1qgO80XLWvHX36YIS7oXJ", oauth_token="249106004-AnqZT9MO0tzbQyI8iqmPpEkHTQgy3W9yUnEqG21f",
          oauth_signature="hGvTCGRpl8IN5Qzog%2FhGoIksbr8%3D"']
    method: GET
    uri: https://api.twitter.com/1.1/search/tweets.json?q=Tendring&lang=en
  response:
    body: {string: !!python/unicode '{"statuses":[{"created_at":"Wed Apr 04 12:17:30
        +0000 2018","id":981506041337860096,"id_str":"981506041337860096","text":"@djk_golf
        We all know that one. Wasn\u2019t TDC Van either. This one was not sign written.
        Was there as I turned up Third, b\u2026 https:\/\/t.co\/LRoGk93qJt","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"djk_golf","name":"David.killick","id":851538021811986432,"id_str":"851538021811986432","indices":[0,9]}],"urls":[{"url":"https:\/\/t.co\/LRoGk93qJt","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/981506041337860096","display_url":"twitter.com\/i\/web\/status\/9\u2026","indices":[117,140]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":981501373073195008,"in_reply_to_status_id_str":"981501373073195008","in_reply_to_user_id":851538021811986432,"in_reply_to_user_id_str":"851538021811986432","in_reply_to_screen_name":"djk_golf","user":{"id":838060644595294216,"id_str":"838060644595294216","name":"Charlie
        Golf 10","screen_name":"CG10_Tendring","location":"Clacton-on-Sea, England","description":"Response
        Driver & Locksmith Unit for @cg_tendring assisting our Patrols in Tendring.
        Call us on 01255 44 45 25 or visit our website...","url":"https:\/\/t.co\/f2cXJVFLh9","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/f2cXJVFLh9","expanded_url":"http:\/\/www.communityguard.uk","display_url":"communityguard.uk","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":214,"friends_count":892,"listed_count":0,"created_at":"Sat
        Mar 04 16:16:42 +0000 2017","favourites_count":705,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":974,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/838063520595984384\/wtX6paZg_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/838063520595984384\/wtX6paZg_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/838060644595294216\/1520633935","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":{"id":"0c938e54810a6d61","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/0c938e54810a6d61.json","place_type":"city","name":"Clacton-on-Sea","full_name":"Clacton-on-Sea,
        England","country_code":"GB","country":"United Kingdom","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[1.100491,51.7781231],[1.210371,51.7781231],[1.210371,51.8227486],[1.100491,51.8227486]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Wed
        Apr 04 11:58:57 +0000 2018","id":981501373073195008,"id_str":"981501373073195008","text":"@CG10_Tendring
        There is a small white van that parks their regularly.  Got maids of frinton
        signage on the side.  N\u2026 https:\/\/t.co\/g6Fp7hvmGj","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"CG10_Tendring","name":"Charlie
        Golf 10","id":838060644595294216,"id_str":"838060644595294216","indice[...]
